.login-panel {
  padding: 30px 70px 70px;
  margin: 50px auto 0;
  bottom: 70px;
  width: 456px;
  max-width: 456px;
  height: 604px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
}

.login-panel h2,
.login-panel .user-buttons {
  text-align: center;
}

.login-panel .login-fields {
  margin-bottom: 120px;
  margin-top: 60px;
}

.login-panel .login-fields .input-field {
  margin-bottom: 50px;
}

.field-footlink{
  float: right;
  position: relative;
  bottom: 50px;
}