.panel.login-panel {
  max-width: 456px;
  padding: 30px 70px 70px;
  margin: 100px auto 0;
}

.login-panel h2,
.login-panel .user-buttons {
  text-align: center;
}

.login-panel .login-fields {
  margin-bottom: 120px;
  margin-top: 60px;
}

.login-panel .login-fields .input-field {
  margin-bottom: 50px;
}