<link rel="stylesheet" type="text/css" href="styles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Default -->
<div class='input-field'>
  <input type="text" placeholder="email@gov.co" />
</div>

<!-- With icon & full width -->
<div class='input-field iconed'>
  <label>Username</label>
  <i class="fa fa-user"></i>
  <input type="text" placeholder="email@gov.co" class="full-width" />
</div>

<!-- With icon & hidden text -->
<div class='input-field iconed'>
  <label>Password</label>
  <i class="fa fa-user"></i>
  <input type="password" placeholder="email@gov.co" class="full-width" />
</div>

<textarea>
  This is a textarea.
</textarea>