<link rel="stylesheet" type="text/css" href="button.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div style="margin-top:25px;">
  <button class="btn">Default</button>
</div>
<div style="margin-top:25px;">
  <button class="btn alert">Send Alert</button>
</div>
<div style="margin-top:25px;">
  <button class="btn remove">Remove<i class="fa fa-trash"></i></button>
</div>
<div style="margin-top:25px;">
  <button class="btn disabled">Disabled</button>
</div>
