{% load qr_code %}
{% load static %}
{% static 'css/general.css' %}

<div class='cms-wrapper'>
  <div class='cms-header'>
    <div class="cms-nav-left">
      <div class="cms-nav-item selected">
        <div class="cms-nav-item-text">Patient Search</div>
      </div>
    </div>
    <div class="cms-nav-title">CORONA | APP</div>
    <div class="cms-nav-right">
      <div class="cms-avatar">
        <img src='http://placehold.it/100x100'/>
      </div>
    </div>
  </div>
  <div class='cms-body'>
    <div class='cms-content'>
      <div class="patient-search-wrapper">
        <div class="patient-search-panel panel">
          <form action="" method="GET">
            <h2>Patient Search</h2>
            <div class="patient-id">
              <div>Enter Patient's DeviceID</div>
              <div class='input-field'>
                <input type="text" name="device" placeholder="ID" class="full-width" />
              </div>
            </div>
            <div class="separator"></div>
            <div class="patient-search-qrcode">
              <div>Scan QR Code</div>
              <!--
              t or T: tiny (value: 6)
              s or S: small (value: 12)
              m or M: medium (value: 18)
              l or L: large (value: 30)
              h or H: huge (value: 48)
              -->
              {% qr_from_text "{{ qrinfo }}" size="M" %}
            </div>
            <div class="patient-search-buttons">
              <button class="btn add-new-alert" type="submit">Submit</button>
            </div>
          </form>
        </div>
        <div class="patient-results-panel panel">
          <h2>Patient's Device</h2>
          <table>
            <thead>
              <tr>
                <th>Patient's Device ID</th>
                <th class="cell-expand">Last Updated</th>
                <th>COVID-19 Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class='no-wrap'>SDS6578SSAA</td>
                <td class='no-wrap'>10:00 07-03-2020</td>
                <td class='no-wrap status-td'>
                  <div class='status positive'>Positive</div>
                  <div class="status-dropdown">
                    <div class='status positive selected'>Positive</div>
                    <div class='status negative'>Negative</div>
                    <div class='status recovered'>Recovered</div>
                  </div>
                </td>
                <td><i class="fa fa-pencil"></i></td>
              </tr>
            </tbody>
          </table>
		<link rel="stylesheet" type="text/css" href="{% static 'css/general.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'admin/css/dashboard.css' %}">
	</head>
	<body>

		<h1>Patient search</h1>

		<form action="{% url 'patient' %}" method="GET">

			<input name="uid" type="text" value="{{ device.uid }}">
			<button type="submit">Submit</button>

		</form>

		<!--
		t or T: tiny (value: 6)
		s or S: small (value: 12)
		m or M: medium (value: 18)
		l or L: large (value: 30)
		h or H: huge (value: 48)
		-->
		{% qr_from_text "{{ qrinfo }}" size="M" %}

		<h1>Patient's device</h1>

	</body>

</html>
