{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="https://fonts.googleapis.com/css?family=Archivo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/core.css' %}">
    <title>COVID OFF</title>
</head>

<body>
    <div id="root">
        <div class='cms-wrapper'>
            <div class='cms-header'>
                <div class="cms-nav-left">
                </div>
                <div class="cms-nav-title">CORONA | APP</div>
                <div class="cms-nav-right">
                </div>
            </div>
            <div class='cms-body'>
                <div class='cms-content'>
                    <div class="container">
                        {% block pagecontent %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>