{% extends 'base.html' %}
{% load static %}

{% block pagecontent %}
<link rel="stylesheet" type="text/css" href="{% static '/css/pages/broadcast_log.css' %}">

<div class="panel broadcast-logs-panel">
  <h1>Broadcast Log</h1>

  <button class="btn add-new-alert">
    <a href="/broadcast" style="text-decoration: none;">Add New Alert</a>
  </button>
  <table>
    <thead>
      <tr>
        <th>Sender profile</th>
        <th class="cell-expand">Message content</th>
        <th>Time</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>

      {% for message in page %}
      <tr>
        <td class='no-wrap'>{{ message.author.email }}</td>
        <td>{{ message.text }}</td>
        <td class='no-wrap'>{{ message.creation_date|date:"G:i" }}</td>
        <td class='no-wrap'>{{ message.creation_date|date:"d-m-Y" }}</td>
      </tr>
      {% endfor %}

    </tbody>
  </table>

  <div class="pagination-bar">
    {% if page.has_previous %}
    <button type="button" role='button' class="btn-default btn-circle btn-pagination-arrow"
      onClick="cascadeClickToChild(this.children[0])">
      <a class="link-no-underline" href="?page={{ page.previous_page_number }}"><i
          class="fa fa-angle-left pagination-arrow"></i></a>
    </button>
    {% endif %}

    {% for page_number in  page.paginator.page_range %}
      {% ifequal page_number page.number %}
      <button type="button" role='button' class="btn-default btn-circle btn-current-page"
        onClick="cascadeClickToChild(this.children[0])">
        <a class="link-no-underline" href="?page={{forloop.counter}}">{{forloop.counter}}</a>
      </button>
      {% else %}
      <button type="button" role='button' class="btn-default btn-circle btn-pagination-page"
        onClick="cascadeClickToChild(this.children[0])">
        <a class="link-no-underline" href="?page={{forloop.counter}}">{{forloop.counter}}</a>
      </button>
      {% endifequal %}
    {% endfor %}

    {% if page.has_next %}
    <button type="button" role='button' class="btn-default btn-circle btn-pagination-arrow"
      onClick="cascadeClickToChild(this.children[0])">
      <a id="link-next-page" class="link-no-underline" href="?page={{ page.next_page_number }}"><i
          class="fa fa-angle-right pagination-arrow"></i></a>
    </button>
    {% endif %}
  </div>
</div>

<script>
  function cascadeClickToChild(firstChild) {
    firstChild.click();
  }
</script>

{% endblock %}
