{% extends 'base.html' %}
{% load static %}

{% block pagecontent %}
<link rel="stylesheet" type="text/css" href="{% static '/css/pages/broadcast.css' %}">

<div class="panel new-broadcast-panel">
	<h1>New Alert Broadcast</h1>
	<form action="{% url 'broadcast' %}" method="POST">

		<!-- ------------------------------------------------------------------- -->
		<!-- Note: this area is sensitive, since it sends messages to all users. -->
		<!-- We should add some syntatic salt; e.g., a confirmation box asking   -->
		<!-- wether the user is sure to send, otherwise they could easily send   -->
		<!-- trash messages.                                                     -->
		<!-- ------------------------------------------------------------------- -->
		<input name="title" type="text" placeholder="Title" class="full-width" />
		<textarea name="text">Lorem Ipsum...</textarea>
	
		<div class="broadcast-actions">
		  <button class="btn cancel transparent">Cancel</button>
		  <button class="btn send-new-alert" type="submit">Send Alert</button>
		</div>

	</form>
</div>

{% for field, field_errors in errors %}

	<div>
		{{field}}:

		{% for err in field_errors %}
			{{err}}
		{% endfor %}
	</div>

{% endfor %}

{% endblock %}