{% extends 'base.html' %}
{% load static %}

{% block pagecontent %}
<link rel="stylesheet" type="text/css" href="{% static '/css/pages/users.css' %}">

<div class="panel users-panel">
	<h1>Users</h1>

	<div class="user-invite-block">
		<form action="{% url 'users' %}" method="POST">
			<h3 class="user-invite-title">Create New User&#160;&#160;</h3>
			<div class="create-user-input input-field">
				<input type="text" placeholder="email@gov.co" />
			</div>
			<button class="btn add-new-user">Send Invitation</button>
		</form>

		{% if user.is_superuser %}
			{% if invitation %}
			Invitation sent
			{% endif %}

			{% for field, field_errors in errors %}
			<div>
				{{field}}:

				{% for err in field_errors %}
					{{err}}
				{% endfor %}
			</div>
			{% endfor %}
		{% endif %}
	</div>

	<table>
		<thead>
			<tr>
				<th class="cell-expand-quarter">User name</th>
				<th class="cell-expand">Role</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for user in page %}
			<tr>
				<td class='no-wrap'>{{ user.email }}</td>
				<td>{{ user.is_superuser }}</td>
				<td class='no-wrap'>
					<button class="btn remove">Remove<i class="fa fa-trash"></i></button>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<div class="pagination-bar">
		{% if page.has_previous %}
		<a href="?page=1">&laquo; &#60;&#60;</a>
		<a href="?page={{ page.previous_page_number }}">&#60;</a>
		{% endif %}

		Page {{ page.number }} of {{ page.paginator.num_pages }}.

		{% if page.has_next %}
		<a href="?page={{ page.next_page_number }}">&#62;</a>
		<a href="?page={{ page.paginator.num_pages }}">&#62;&#62; &raquo;</a>
		{% endif %}
	</div>
</div>

{% endblock %}