.pagination-bar{
    margin: auto 0;
    text-align: center;
  }

  .btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 50px;
    height: 50px;
    padding: 6px 0px;
    border-radius: 25px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.link-no-underline{
  text-decoration: none;
}

.btn-current-page{
  background: #0046FA;
  border: none;
  font-family: Archivo;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;
  align-items: center;
  color: #FFFFFF;
  cursor: pointer;
}

.btn-pagination-page{
  background: #FFFFFF;
  border: none;
  font-family: Archivo;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;
  align-items: center;
  color: black;
  cursor: pointer;
}

.btn-pagination-arrow{
  background: #FFFFFF;
  border: none;
  font-family: Archivo;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;
  align-items: center;
  font-weight: bold;
  color: blue;
  cursor: pointer;
}

.btn-pagination-arrow:hover{
  border: 2px solid #488ef0;;
}

.btn-pagination-page:hover{
  border: 2px solid #488ef0;;
}

.btn-current-page:hover{
  border: 2px solid white;
  background:#488ef0;
}

.pagination-arrow{
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #0046FA;
}